version: "3"
services:
  postgresql:
    image: postgres:13.1
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test
      POSTGRES_HOST_AUTH_METHOD: "trust"
    volumes:
      - ${HOME}/data/dokkoi_db:/var/lib/postgresql
      - ./fixtures/postgresql/init:/docker-entrypoint-initdb.d
  dokkoi:
    image: golang:1.15
    working_dir: /dokkoi
    volumes:
      - .:/dokkoi
      - gomod_cache:/go
    command: bash -c "go run main.go handler.go"
    environment:
      # set your environment variables.
      TOKEN: ""
      API_KEY: ""
      ENGINE_ID: ""
    depends_on:
      - postgresql

volumes:
  gomod_cache: {}
