version: "3"
services:
  postgresql:
    image: postgres:13.1
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ''
      POSTGRES_DB: test
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    volumes:
      - ${HOME}/data/dokkoi_db:/var/lib/postgresql
